* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0a0f;
    color: #e4dcdc;
    line-height: 1.6;
}

/*  HEADER  */
header {
    text-align: center;
    padding: 2rem 3rem;
    background: linear-gradient(rgba(230, 0, 0, 0.3), #0b0a0f),
        url('../src/fondo.jpg') center/cover no-repeat;

    position: relative;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 12px #e60026;
    margin-top: 4rem;
}

header p {
    color: #ccc;
    max-width: 700px;
    margin: 1rem auto 0;
    margin-bottom: 3rem;
}


/*  NAVIGATION  */
nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
    background-color: #0d0b0fb6;
    padding: 12px 15px 12px 15px;
    border-radius: 15px;
}

/*  SECTIONS  */

main {
    max-width: 1100px;
    margin: auto;
    padding: 3rem 2rem;
}

section {
    margin-bottom: 4rem;
    background: #151217;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(230, 0, 38, 0.15);
    border: 1px solid #2a1b1f;
}


section h2 {
    color: #e60026;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    border-left: 4px solid #e60026;
    padding-left: 10px;
}

/*  ABOUT  */
.about p {
    color: #c9b9bd;
    text-align: justify;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    flex-direction: row;
}


.about-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #8b0108;
    box-shadow: 0 0 15px #8b0108, 0 0 30px #8b0000;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0px 100px 30px 80px;
}

.about-img:hover {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0 0 25px #8b0108, 0 0 40px #8b0108;
}

/*  SKILLS  */
.skills {
    text-align: center;
}

.skill-card {
    background: #1a171a;
    border: 1px solid #302025;
    border-radius: 16px;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: transform 0.25s ease;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    width: 100%;
}

.skill-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 0.8rem;
    filter: grayscale(100%) brightness(0.9);
    transition: filter 0.3s ease;
}

.skill-card p {
    color: #ffffff;
    font-weight: 500;
    margin: 0;
}

.skill-card:hover {
    background: #ffa0a0;
    transform: translateY(-5px);
    box-shadow: 0 0 18px rgba(230, 0, 38, 0.6);

}

.skill-card:hover p {
    color: #0b0a0f;
}

.skill-card:hover img {
    filter: none;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
}

/*  PROJECTS  */
.projects-section {
    padding: 60px;
    background: #0d0b0e;
    border-radius: 12px;
    margin: 40px auto;
}

.projects-section h2 {
    color: #e60026;
    font-size: 1.8rem;
    margin-bottom: 30px;
    border-left: 6px solid #e60026;
    padding-left: 12px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.project-card {
    background: #151217;
    padding: 18px;
    border-radius: 12px;
    transition: 0.25s;
    border: 1px solid rgba(230, 0, 38, 0.15);
    position: relative;
    padding-bottom: 60px;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 18px rgba(230, 0, 38, 0.35);
    border-color: #e60026;
}

.project-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.project-card p {
    color: #c4b3b8;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project-btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    background: #8b0000;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.project-btn:hover {
    background: #e60026;
    transform: scale(1.04);
    box-shadow: 0 0 18px rgba(230, 0, 38, 0.5);

}

/*  EXPERIENCE  */
.experience article {
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 3px solid #e60026;
}

.timeline {
    position: relative;
    padding-left: 40px;
}

.timeline-item {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline-content {
    background: #151217;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(230, 0, 38, 0.3);
    box-shadow: 0 0 12px rgba(230, 0, 38, 0.15);
}

.timeline-content h3 {
    color: #b33;
    margin-bottom: 5px;
}

.timeline-content h4 {
    color: #c9c9c9;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.timeline-content p {
    color: #ddd;
    font-size: 0.95rem;
}


/* CONTACT */
.contact {
    text-align: center;
    background: #151217;
    padding: 3rem 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(230, 0, 38, 0.15);
    border: 1px solid #2a1b1f;
}

.contact h2 {
    color: #e60026;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    border-left: none;
    padding-left: 0;
    display: inline-block;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-item {
    background: #1a171a;
    border: 1px solid #302025;
    border-radius: 12px;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease;
    min-width: 160px;
    display: inline-block;
}

.contact-item:hover {
    background: #e60026;
    color: #ffffff;
    transform: translateY(-5px);
    box-shadow: 0 0 18px rgba(230, 0, 38, 0.6);
}


/*  FOOTER  */
footer {
    text-align: center;
    padding: 2rem;
    background: #151217;
    border-top: 1px solid #2a1b1f;
}

footer p {
    color: #ffffff;
    font-weight: 500;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }

    section {
        padding: 1.5rem;
    }
}